extends ./layot.jade

block config
	- var main = 'about'

block content
	section.baner
		.wrapper
			img(src="#{tplPath}/img/about-baner.png")
				
			.text.
				Компания «Biz Partners» предлагает полный комплекс услуг по 
				сопровождению вашего бизнеса #[br] и его организации. Мы работаем с 
				иностранными и российскими юридическими #[br] и физическими лицами, 
				предоставляя услуги аутсорсинга по направлениям бухгалтерский #[br] учет 
				и аудит, подбор персонала, юридическое сопровождение.
				
	section.about-items
		ul
			li
				.wrapper
					h2 Наша команда
					.flex
						.text.
							Сотрудники компании «Biz Partners» работают в области аутсорсинга 
							уже более 10 лет. #[br] Это уверенные в своих знаниях, 
							доброжелательные и ответственные специалисты, #[br] которые продолжают 
							повышать квалификацию и развиваться по своим направлениям. 
							Главной задачей нашей команды является предоставление максимально 
							эффективных #[br] и качественных решений для вашего бизнеса. 
						img(src="#{tplPath}/img/about1.png")
			li
				.wrapper
					h2 Доступность услуг
					.flex
						.text.
							Стоимость наших услуг ниже, чем у крупных игроков в этой отрасли 
							(Grant Thorthon, BDO, Awara, Interpont, Mazars,), а также крупных 
							международных юридических фирм, предоставляющих качественные услуги 
							по этим направлениям. Обращаясь к нам, вы выигрываете в цене, не 
							уступая в качестве.
						img(src="#{tplPath}/img/about2.png")
			li
				.wrapper
					h2 Гарантия высокого качества услуг
					.flex
						.text.
							Мы несем ответственность собственными финансовыми средствами за 
							предложенные нами решения в рамках заключенного договора. 
							Мы готовы компенсировать ваши издержки – штрафы и пени - в случае, 
							если они получены по нашей вине. Вы можете #[br] быть уверены в качестве 
							и эффективности предоставляемых услуг.
						img(src="#{tplPath}/img/about3.png")
			li
				.wrapper
					h2 Предоставление полного комплекса услуг
					.flex
						.text.
							Компания «Biz Partners» предоставляет как отдельные услуги 
							аутсорсинга бизнес процессов, так и комплексные решения по 
							развитию вашего предприятия. Проведя аудиторскую проверку и 
							оценку деятельности организации, мы предложим вам наиболее 
							эффективные решения для расширения вашего бизнеса или его 
							стабилизации в условиях кризиса. Мы молодая и перспективная 
							компания. 9 из 10 пришедших к нам клиентов остаются нашими 
							постоянными партнерами. Мы всегда открыты новым сотрудничествам 
							и предложениям.Аутсорсинг с компанией «Biz partner» ближе, 
							чем вы ожидаете!
						img(src="#{tplPath}/img/about4.png")
			li
				.wrapper
					h2 Строгое соблюдение сроков
					.flex
						.text.
							Специалисты нашей компании строго соблюдают установленые 
							законодательством и оговоренные договорами сроки решения вопросов. 
							Мы вовремя проконсультируем, #[br] сдадим отчетность, составим и отправим 
							претензию или апелляцию как ваши представители. Мы ценим ваше время 
							и репутацию.
						img(src="#{tplPath}/img/about5.png")
