extends ./layot.jade

block config
	- var main = 'catalog-detail new-catalog-detail'

block content
	section.back
		.wrapper
			a(href="#") Бухгалтерские услуги
		
	section.items
		.wrapper
			nav
				a(href="#") Аутсорсинг бухгалтерских процессов
				a.active(href="#") Бухгалтерия под ключ
				a(href="#") Консультационные услуги
				a(href="#") Анализ и оптимизация работы бухгалтерии
					
	section.title
		.wrapper
			h1 Банкротство ООО
			.text
				p.
					В соответствии с российским законодательством, юридическое лицо может 
					быть признано банкротом, если соблюдаются два условия:
				ul
					li.
						В течение 3 месяцев с момента последней оплаты #[br]
						нет возможности погасить кредиторскую задолженность.
					li Сумма долга составляет не менее 100 000 рублей.
	
	
	section.description
		.wrapper
			.tabs.visible
				.row
					.column#price.
						Стоимость услуги окончательно определяется после консультации с
						юристом компании «Бизнес Партнерс» и уточнения текущей ситуации.
						В среднем она состовляет от 20 000 до 50 000 руб.
						
					.column#download
						a(href="#") Скачать прайс-лист «Корпоративные Юридические услуги»
			.about-service
				h2 Подробности услуги
				ul
					li
						h3 Предварительная консультация
						p В зависимости от ситуации, есть два пути проведения банкротства ООО.
					li
						h3 Упрощенная процедура банкротства
						p.
							Можно начать только при официальной ликвидации, когда в процессе
							ликвидации выясняется, что долг по кредиторским обязательствам
							превышает 100 000 рублей, а возместить имуществом данную сумму
							невозможно в отличие от полного банкротства упрощенка проводится
							в один этап — конкурсное производство
					li
						h3 Полная процедура банкротства
						p.
							Проходит в два этапа наблюдение и конкурсное производство.
							На первом этапе должник, кредитор или налоговый орган подает 
							заявление о признании юридического лица банкротом. Существует 
							одна особенность в том, кто первый подаст заявление о банкротстве. 
							Тот, кто первый подает заявление — выбирает кандидата на 
							должность арбитражного управляющего.
						p.
							Арбитражный управляющий, наряду с собранием кредиторов, является
							тем, кто оказывает огромное влияние на течение процедуры 
							банкротства и принятие решений. Лояльный и «дружественный» 
							по отношению к вам управляющий — сильное стратегическое 
				a.btn(href="#") Подробнее
	section.more-info-block
		.wrapper
			h2 Чего стоит опасаться?
			.row
				.column.img
					img(src="#{tplPath}/img/danger-icon.png")
				.column.text
					p.
						Но не стоит забывать, что с 2009 года ответственность руководителя
						не ограничивается только размером уставного капитала, и в процессе
						банкротства существует опасность быть привлеченными к субсидиарной
						ответственности. Поэтому прежде чем начинать процедуру, нужно
						проконсультироваться с опытными специалистами. Они помогут вам
						сравнить все возможные способы ликвидации и выбрать наиболее
						оптимальный.
					
					p.
						Сама процедура банкротства ООО таит в себе множество тонкостей и
						подводных камней. Помочь провести процедуру верно и с
						соблюдением всех требований, чтобы ее посчитали завершенной,
						а юридическое лицо признали банкротом, вам помогут высококлассные
						специалисты компании «Бизнес Партнерс». Опыт работы наших 
						сотрудников — более 10 лет. Мы знаем, как провести процедуру 
						банкротства с наибольшей выгодой для вас.
						
	section.call-button
		.text
			a.call-window(href="#writeme") Записаться на консультацию
			p.
				Записываясь на консультацию с сайта #[br]
				вы получаете скидку 15%
				
	section.chose-us
		.wrapper
			h2 Почему выбирают нас?
			ul
				li
					.icon
						img(src="#{tplPath}/img/chose1.png")
					p лет опыта
				li
					.icon 
						p 114
						img(src="#{tplPath}/img/chose2.png")
					p выигранных процессов
				li
					.icon
						p 50
						img(src="#{tplPath}/img/chose3.png")
					p постоянных клиентов
				li
					.icon
						p 4
						img(src="#{tplPath}/img/chose3.png")
					p сотрудника в штате
					
	section.order-call-write
		.wrapper
			.column#text
				p.
					Закажите звонок или напишите нам. 
					Мы расскажем об услугах подробнее. 
					С нами вести бизнес легче!
					
			.column#button
				a.call-window(href="#callme")
					img(src="#{tplPath}/img/blue-call.png")
					span Заказать звонок
				a.call-window(href="#writeme")
					img(src="#{tplPath}/img/blue-mail.png")
					span Написать нам
