- var main = ""
- var tplPath = "../bitrix/templates/main";
block config

doctype
html(lang="ru")
	head
		title Biz Partners
		meta(charset="utf-8")
		meta(name="viewport",content-width="width=device-width")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='#{tplPath}/styles/build/build.css')
		script(type='text/javascript', src='#{tplPath}/scripts/build/build.js')
		
	body
		header
			.wrapper
				.column#logo
					.logo
				.column#menu
					nav
						ul
							li: a(href="#") О компании
							li
								a(href="#") Каталог услуг
								
								ul.animated
									li: a.active(href="#") Бухгалтерский и налоговый учет
									li: a(href="#") Корпоративные юридические услуги
									li: a(href="#") Кадровое делопроизводство
									li: a(href="#") Аудит
									li: a(href="#") Безопасность труда на производстве
									li: a(href="#") Подбор персонала
									li: a(href="#") Услуги для физических лиц
									
							li: a(href="#") Изменения в законодательстве
							li: a(href="#") Контакты
				.column#contacts
					.figure
						a(href="tel:+79150070775") +7 (915) 007-07-75
						a(href="#present") Презентация
						
					span.callme
						a.call-window(href="#callme") Заказать звонок
					span.writeme
						a.call-window(href="#writeme") Написать нам
				
		main.content(class="#{main}")
			block content
		footer
			.wrapper
				.column#copy © Biz Partners, 2001-2015 
					p.
						#[b Адрес: 107023 г. Москва,] #[br]
						ул. Большая почтовая, 36, #[br] 
						18 подъезд, сектор А, 1 этаж, офис 110
						
				.column#footer-menu
					ul
						li: a(href="#") О компании
						li: a(href="#") Каталог услуг
						li: a(href="#") Новости
						li: a(href="#") Контакты
						
					ul
						li Каталог услуг
						li: a(href="#") Бухгалтерский и налоговыйучет
						li: a(href="#") Корпоративные юридические услуги
						li: a(href="#") Кадровое законодательство
						li: a(href="#") Аудит
						li: a(href="#") Дополнительные услуги
						li: a(href="#") Подбор персонала
						li: a(href="#") Услуги для физических лиц
						
				.column#developer
					a(href="http://web-izmerenie.ru/") сделано в
		.overlay
		.module-window#callme
			.title
				img(src="#{tplPath}/img/green-call.png")
				p Заказать звонок
			form(method="post")
				input.require(type="text" name="name" placeholder="Имя")
				input.require(type="text" name="name" placeholder="Телефон")
				input.require(type="text" name="name" placeholder="Удобное для вас время")
				.error Ошибка отправки. Необходимо заполнить все поля
				input(type="submit" value="Отправить")
				.sucsess
					p.
						«Спасибо за заявку.#[br]
						Мы свяжемся с вами
						в течение часа».
						
		.module-window#writeme
			.title
				img(src="#{tplPath}/img/green-mail.png")
				p Написать нам
			form(method="post")
				input.require(type="text" name="name" placeholder="Имя")
				input.require(type="text" name="name" placeholder="E-mail")
				input.require(type="text" name="name" placeholder="Телефон")
				textarea.require(name="text" placeholder="Текст письма")
				.error Ошибка отправки. Необходимо заполнить все поля
				input(type="submit" value="Отправить")
				.sucsess
					p.
						Спасибо за ваше
						сообщение.#[br] 
						Мы рассмотрим 
						и свяжемся с вами.
						
		.module-window#rss
			.title
				img(src="#{tplPath}/img/green-mail.png")
				p Подписаться на рассылку
			form(method="post")
				input.require(type="text" name="name" placeholder="Имя")
				input.require(type="text" name="name" placeholder="E-mail")
				.error Ошибка отправки. Необходимо заполнить все поля
				input(type="submit" value="Отправить")
				.sucsess
					p.
						Спасибо.#[br]
						Вы подписаны#[br] 
						на рассылку.
						
